node_modules/
dist/
.env
.vite/
.DS_Store
npm-debug.log
yarn-error.log
coverage/
*.log
*.lock
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
*.orig
*.cache
*.tgz
*.zip
*.tar.gz
*.rar
*.7z
*.gz
*.bz2
*.xz
*.exe
*.dll
*.so
*.dylib
*.class